<!DOCTYPE html>
<html>
  <head>
    <title>TarunBarber</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/1d5ac3df23.js" crossorigin="anonymous"></script>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

  </head>
  <body>
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>

</html>
